.StackGraph {
  margin: 10 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 50vh;
  text-align: center;
  box-sizing: border-box;

  svg {
    display: block;
    overflow: visible;
    width: 40rem;
    margin-bottom: 10rem;
    padding-bottom: 10rem;
  }
  .legend {
    margin-top: 10rem;
  }
  svg rect.selection {
    stroke: none;
  }
}
