.MiniChart {

  .container {
    text-align: left;
    display: inline-block;
    position: relative;
    width: 100%;
    /* Sets container ratio to 2:1 to match SVG ratio defined in D3 */
    padding-bottom: 50%; 
    vertical-align: top;
    overflow: hidden;
  }

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  
    .chartBackground {
      fill: blue;
    }        
    
    .xAxis {
      color: red;
      font-size: 3em;
    }
  
  }

  h4 {
    margin-bottom: 0;
  }

}
