.Home {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .subhead {
    margin: 2rem 0;
  }
}

.fullWidthLightBlue {
  background-color: #bbdefb;
  padding: 2rem;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}
