.Home {
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.fullWidthLightBlue {
  width: calc(100% + 48px) !important;
  background-color: rgba(43,73,157,0.1);
  margin: 0 -24px;
  padding: 2rem 0 4rem 0;
  box-shadow: 0 -3px 50px rgba(0, 0, 0, 0.15);

  .subhead {
    margin: 0 0 2rem 0;
  }
}
