.Home {
  padding-top: 4rem;
  padding-bottom: 3rem;

}

.fullWidthLightBlue {
  width: calc(100% + 48px) !important;
  background-color: rgba(43, 73, 157, 0.132);
  margin: 0 -24px;
  padding: 2rem;

  .subhead {
    margin: 0 0 2rem 0;
    color: #229c9a;
  }
}
