.LineGraph {
  text-align: center;

  .container {
    width: 80%;
  }

  svg {
    display: block;
    width: 100%;
    background-color: #eee;
    overflow: visible;
  }

  .Controls {
    margin-top: 40px;
  }

}
