.LineGraph {
  text-align: center;

  .container {
    width: 80%;
    margin: 20px auto;
  }

  svg {
    display: block;
    width: 100%;
    height: 400px;
    background-color: #eee;
    overflow: visible;
  }

  .Controls {
    margin-top: 40px;
  }

}
