.Map {
  svg {
    background-color: rgb(238, 229, 229);
    display: block;
    width: 100%;
    height: 50vh;
  }


  svg circle:hover {
    cursor: grab;
  }
  svg path {
    stroke: rgba(159, 142, 160, 0.1);
  }

  svg path:hover {
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 0.6px;
    cursor: pointer;
  }

  svg circle:active {
    cursor: grabbing;
  }

  svg path:active {
    cursor: grabbing;
  }

  div #legend {
    padding: 1.5em 0 0 1.5em;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
}

}
